.footer {
  background: url('../assets/headerfooter.png');
  color: white;
  padding: 1rem 0 0 0; /* Remueve cualquier margen o padding inferior */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0; /* Asegura que no haya margen */
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: 10px;
  
}

.social-links {
  margin-bottom: 0.25rem;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
  font-weight: 500; /* Letras un poco más en negrita */
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #61dafb;
}