@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
  padding: 1rem;
  background: url('../assets/headerfooter.png') no-repeat center center/cover; /* Fondo tipo galaxia */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: text-shadow 0.3s ease;
}

nav a:hover {
  text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6), 
    0 0 15px rgba(255, 255, 255, 0.4);
}